<mat-toolbar>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button (click)="openDialogProject()" mat-button color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>add</mat-icon>
        <span>Добавить проект</span>
    </button>
    <button (click)="openDialogTodo()" mat-button color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>add</mat-icon>
        <span>Добавить задачу</span>
    </button>
</mat-toolbar>
